mixin test()
    +b('section').test
        +e.container
            +e.button Поймать<br>дзен<br>еще раз
            +e.bg-img
                img(src='/images/bg-img-1.png')
            +e.wrap
                +e.img
                    img(src='/images/author-1.png')
                +e.block
                    +e('p').text «Странствия — лучшее занятие в мире. Когда бродишь — растешь, растешь стремительно, и всё, что видел, откладывается даже на внешности. Людей, которые много ездили, я узнаю сразу из тысячи. Скитания очищают, переплетают встречи, века, книги и любовь. Они роднят нас с небом. Если мы получили еще недоказанное счастье родиться, то надо хотя бы увидеть землю».
                    +e('p').author Константин Паустовский, писатель