@font-face
	font-family 'IngoStem-Bold'
	src url('../../fonts/IngoStem-Bold.woff2') format('woff2')

@font-face 
	font-family 'IngoStem-Light'
	src url('../../fonts/IngoStem-Light.woff2') format('woff2')

@font-face 
	font-family 'IngoStem-Medium'
	src url('../../fonts/IngoStem-Medium.woff2') format('woff2')