$ff-IngoStem-Bold = 'IngoStem-Bold', sans-serif
$ff-IngoStem-Light = 'IngoStem-Light', sans-serif
$ff-IngoStem-Medium = 'IngoStem-Medium', sans-serif

$c-black = #000
$c-white = #fff
$c-yellow = #FFC32F
$c-blue = #065BA4